<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:fragment="script">
        <!-- 좋아요, 관심 버튼 ON & OFF -->
        <script>
            let isLoggedIn = $('.btn-like').data('logged-in');
    
            /* 해당 게시글 좋아요 갯수 갱신*/
            function updateAll(element, postNo) {
                
                let request = new XMLHttpRequest();
    
                request.open('GET', '/like/count/' + postNo, true);
                request.send();
    
                request.onreadystatechange = function () {
    
                    if (request.readyState == request.DONE && request.status == 200) {
                        
                        let response = JSON.parse(request.responseText);
                        
                        console.log('좋아요 갯수 갱신 요청 완료');
                        console.log('업데이트된 좋아요 수: ' + response.countLike);
                        // 좋아요 갯수 갱신
                        let updatedLikeCount = response.countLike;
                        let $countLike = element.querySelector('.count-like');
                        $countLike.innerText = '';
                        $countLike.innerText = updatedLikeCount;
                    }
                }
            }
    
            /* 좋아요 on & off */
            function btnLike(element, postNo) {
                event.preventDefault();
    
                // 로그인 여부 체크; 비로그인 시, 로그인 페이지로 튕김
                if (!isLoggedIn) {
                    alert('로그인 후 이용 가능합니다.');
                    let moveToLogin = confirm('로그인 페이지로 이동하시겠습니까?');
    
                    if (moveToLogin) {
                        window.location.href = '/user/login'; // 로그인 페이지 URL로 변경
                        return;
                    }
                    return;
                }
                
                // 로그인 시,
                let $like = element.querySelector('svg');
                let $csrfToken = document.getElementById('csrfToken');
                let csrfToken = $csrfToken.value;
                
                let $userId = document.getElementById('loginUserId');
                let userId = $userId.value;
    
                //  좋아요 off -> on
                if ($like.getAttribute('fill') === 'none') {
    
                    let data = {
                        'postNo' : postNo,
                        'userId' : userId
                    }
                    console.log("좋아요 off -> on")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('POST', '/like');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            
                            let response = request.responseText;
                            
                            if (response == 'SUCCESS') {
                                console.log('좋아요 등록 성공');
                                // 좋아요 색 채우기
                                $like.setAttribute('fill', 'solid');
    
                                // 좋아요 갯수 갱신
                                updateAll(element, postNo);
                            }
                        }
                    }
                }
    
                //  좋아요 on -> off
                else if ($like.getAttribute('fill') === 'solid') {
    
                    let data = {
                        'postNo' : postNo,
                        'userId' : userId
                    }
    
                    console.log("좋아요 on -> off")
                    console.dir(data);
    
                    let request = new XMLHttpRequest();
    
                    request.open('DELETE', '/like');
                    request.setRequestHeader('content-Type', 'application/json');
                    request.setRequestHeader('X-CSRF-TOKEN', csrfToken); // CSRF 토큰 설정
                    request.send(JSON.stringify(data));
    
                    // 요청상태 체킹
                    request.onreadystatechange = function () {
                        if (request.readyState == request.DONE && request.status == 200) {
                            console.log('좋아요 삭제 성공');
    
                            let response = request.responseText;
    
                            if (response == 'SUCCESS') {
                                // 좋아요 색 빼기
                                $like.setAttribute('fill', 'none');
    
                                // 좋아요 갯수 갱신
                                updateAll(element, postNo);
                            }
                        }
                    }
                }
            }
        </script>

        <!-- 댓글 수정/삭제 버튼 -->
        <script>
            $(".btn-cmmt-update").click(function (){
                alert("수정버튼");
            });
        </script>

        <!-- 게시글 삭제/버튼 -->
        <script>
            function actionDelete() {
                let doubleCheck = confirm ('정말로 삭제하시겠습니까?');

                return;
            }
        </script>

        <!-- 상품태그 삭제 -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var tagedItems = document.querySelectorAll(".tagedItem");
        
                tagedItems.forEach(function(item) {
                    item.addEventListener("click", function() {
                        // 클릭된 요소를 완전히 삭제합니다.
                        item.remove();
                    });
                });
            });
        </script>
        

    </th:block>
</body>
</html>