<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/pay_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <title>구매하기</title>
</head>
<!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
    <h1>구매하기</h1>
    <div class="content">

        <!-- 상품이미지, 상품 설명 -->
        <div class="product_info_area">
            <div class="product_info">
                <picture class="product_img"></picture>
                <div class="product_detail">
                    상품명 <br> Stussy Basic Stussy T-Shirt Berry 2024<br>
                    사이즈 <br> M <br>
                </div>
            </div>
        </div>


    </div>
    
    <script>

    </script>
</body>
</html>

