<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/style_layout}"
      >
<head>
    <title>게시글 등록</title>
    <style>
        .productImg {
            /* width: 100%; */
            height: 100%;
        }
    </style>

    <!-- 모달창 css -->
    <style>
        .modal-dialog {
            min-height: 600px;
        }

        .modal-content {
            height: 100%;
        }
    </style>
</head>

<body layout:fragment="content">

    <!-- 상품추가 모달창 시작-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">상품태그 추가</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <!-- 상품검색창 -->
                            <form class="d-flex w-100" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                            </form>
                            <!-- 검색된 상품 리스트 -->
                            <div class="searchedItems d-flex flex-column w-100">

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>

                                <hr>
                                <div class="product my-2 d-flex">
                                    <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지" style="width: 90px;">
                                    <div class="d-flex flex-column ms-3 justify-content-center">
                                        <p class="card-title mb-2 fw-bold">Nike</p>
                                        <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- 상품추가 모달창 끝-->




    <div class="container">
        <div class="my-5 d-flex flex-column align-items-center">
           <p class="fs-3 fw-bold" style="width:600px">게시글 등록</p>

            <form id="form" method="post" style="width: 600px;">
                <input type="hidden" name="userId" th:value="${loginUser.userId}">
                <!-- 이미지첨부 -->
                <span class="form-text">최대 10장</span>
                <input id="imageInput" name="file" class="form-control" type="file"  multiple>
                <!-- 첨부파일 미리보기 -->
                <div id="imagePreview" style="height: 100%; padding: 15px;"></div>
                <!-- 대표로 선택한 이미지가 넘어감 -->
                <input type="hidden" id="representativeImage" name="representativeImage">
                <br>
                <!-- 내용 -->
                <textarea  id="content" class="form-control" type="text" placeholder="내용을 입력하세요" style="box-shadow: none !important;font-size: smaller; height: 150px;" ></textarea>
                <br>
                <!-- 상품태그 영역 -->
                <div class="d-flex justify-content-between">
                    <label for="formFileMultiple" class="form-label" style="font-weight: bold; margin-bottom: 0;">상품태그</label>
                    <!-- 상품추가버튼 -->
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="p-0 mb-1" style="color: white;display: inline-flex;align-items: center;justify-content: center;border: none;padding: 5px;border-radius: 4px;text-decoration: none;background-color: #393e46;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" width="24px" height="24px">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </button>
                </div>
                
                <!-- 태그된 상품 -->
                <div class="productTag-area border rounded-2">
                    <div class="row row-cols-2 row-cols-md-4 g-2 p-3">

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="card" style="border: none;">
                              <img class="productImg rounded-2" src="/img/temp/sampleProduct.jpg" alt="상품이미지">
                            <div class="card-body p-0 m-0">
                              <p class="card-title m-0 fw-bold">Nike</p>
                              <p class="card-text p-0" style="font-size: small;">Air Force 1 '07</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <button type="button" id="btn-insert" onclick="alert('작성완료')" class="btn my-5" style="color: white; background-color: #393E46; width: 600px;">작성 완료</button>
            </form>
        </div>
    </div>
    <script>
        const imageInput = document.getElementById('imageInput');
        const imagePreview = document.getElementById('imagePreview');
        const representativeImageInput = document.getElementById('representativeImage');
    
        imageInput.addEventListener('change', function() {
            imagePreview.innerHTML = '';
            Array.from(imageInput.files).forEach((file, index) => {
                const img = document.createElement('img');
                img.src = URL.createObjectURL(file);
                img.width = 100;
                img.height = 100;
                img.style.cursor = 'pointer';
                img.addEventListener('click', () => {
                    representativeImageInput.value = index;
                    document.querySelectorAll('#imagePreview img').forEach(img => img.style.border = 'none');
                    img.style.border = '2px solid red';
                });
                imagePreview.appendChild(img);
            });
        });
    </script>
</body>
</html>