<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproject.goodz.product.mapper.ProductMapper">
    
    <!-- 관리자 목록 조회 -->
    <select id="list" resultType="Product">
        SELECT *
        FROM product
    </select>

    <!-- 메인화면에 4개 띄우기 -->
    <select id="newArrivals" resultType="Product">
        SELECT *
        FROM product
        ORDER BY created_at DESC
        LIMIT 4
    </select>

    <!-- 상품 등록 -->
    <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyProperty="pNo">
    INSERT INTO product (category, b_name, product_name, initial_price)
    VALUES (#{category}, #{bName}, #{productName}, #{initialPrice})
    </insert>

    <!-- 상의 목록 -->
    <select id="top" resultType="Product">
        SELECT *
        FROM product
        WHERE category = '상의'
    </select>

    <!-- 하의 목록 -->
    <select id="pants" resultType="Product">
        SELECT *
        FROM product
        WHERE category = '하의'
    </select>

    <!-- 신발 목록 -->
    <select id="shoes" resultType="Product">
        SELECT *
        FROM product
        WHERE category = '신발'
    </select>

    <!-- 악세사리 목록 -->
    <select id="accessory" resultType="Product">
        SELECT *
        FROM product
        WHERE category = '악세사리'
    </select>

    <!-- 제품 조회 -->
    <select id="getProductBypNo" resultType="Product">
        SELECT *
        FROM product
        WHERE p_no = #{pNo}
    </select>

    <!-- 제품과 최신 가격 변동 정보 조회 -->
    <select id="UsedInPay" resultType="Product">
        SELECT 
            p.*, ph.size, ph.fluctuated_price
        FROM 
            Product p
        INNER JOIN 
            Pricehistory ph ON p.p_no = ph.p_no
        WHERE 
            p.p_no = #{pNo} 
            AND ph.updated_at = (
                SELECT 
                    MAX(updated_at) 
                FROM 
                    Pricehistory 
                WHERE 
                    p_no = p.p_no
                    AND size = ph.size
            );
    </select>


</mapper>
