<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springproject.goodz.product.mapper.ProductMapper">
	
	<!-- 관리자 -->
    <select id="list" resultType="Product">
        SELECT *
		FROM product
    </select>

	<!-- 상품 등록 -->
	<insert id="insert">
		INSERT INTO product (category, b_name, product_name, image_url, size, price, stock_quantity)
		VALUES (#{category}, #{bName}, #{productName}, #{imageUrl}, #{size},#{price}, #{stockQuantity})
	</insert>

	<!-- 상의 목록 -->
    <select id="top" resultType="Product">
        SELECT *
		FROM product
		WHERE category = '상의'
    </select>
</mapper>