<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/mypage_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <style>
        .box {
            margin-bottom: 15px;
        }

        .profile_img {
            width: 55px;
            height: 55px;
            border-radius: 50%; 
            overflow: hidden; 
            margin-right: 15px;
        }
        .profile_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .product_img img {
            width: 100%;
        }
    </style>

    <title>마이 페이지</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="userMainContainer">

            <!-- 유저 정보 -->
            <div class="box profile_details d-flex justify-content-between border rounded-3 p-3">
                <div class="d-flex">
                    <div class="profile_img">
                        <!-- 유저가 설정한 이미지 가져와야함. 없으면 기본 이미지로 설정-->
                        <img th:src="${user != null && user.profilePictureUrl != null ? user.profilePictureUrl : '/img/user/basic_social.png'}" alt="프로필이미지" class="rounded-circle">
                    </div>
                    <div class="profile_info d-flex flex-column my-auto">
                        <!-- 유저의 아이디와 닉네임 -->
                        <p class="nickname  fw-bold m-0" th:text="${user != null ? user.nickname : 'Error'}">유저 닉네임</p>
                        <p class="user_id m-0" style="font-size: small;">유저 아이디</p>
                    </div>
                </div>
                <div class="profile_buttons my-auto">
                    <button class="btn btn-sm btn-outline-secondary" onclick="manage_info()">내 정보 관리</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="my_style()">스타일</button>
                </div>
            </div>

            <!-- 구매 내역 -->
            <div class="box border rounded-3 p-3">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">구매 내역</p>
                    <a href="/user/purchase" class="text-body-tertiary" style="text-decoration: none;">+ 더보기</a>
                </div>
                <div class="row text-center">
                    <!-- 유저의 현황에 맞는 수를 가져옴 -->
                    <div class="col">
                        <p>전체</p>
                        <p>0</p>
                    </div>
                    <div class="col">
                        <p>배송중</p>
                        <p>0</p>
                    </div>
                    <div class="col">
                        <p>배송완료</p>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <!-- 판매 내역 -->
            <div class="box border rounded-3 p-3">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">판매 내역</p>
                    <a href="/user/purchase" class="text-body-tertiary" style="text-decoration: none;">+ 더보기</a>
                </div>
                <div class="row text-center">
                    <!-- 유저의 현황에 맞는 수를 가져옴 -->
                    <div class="col">
                        <p>요청</p>
                        <p>0</p>
                    </div>
                    <div class="col">
                        <p>진행중</p>
                        <p>0</p>
                    </div>
                    <div class="col">
                        <p>정산완료</p>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <!-- 유저가 눌러놓은 관심을 가져옴 -->
                <p class="wishlist_title fw-bold fs-5 m-0">관심</p>
                <div class="box row wishlist border rounded-3 p-3 m-0">
                    <div class="product_img col-md-3">
                        <img src="/img/product/product_img.png" alt="Product 1">
                        <p class="fw-bold m-0">Nike</p>
                        <p class="m-0">Air Force 1 '07</p>
                    </div>
                    <div class="product_img col-md-3">
                        <img src="/img/product/product_img.png" alt="Product 1">
                        <p class="fw-bold m-0">Nike</p>
                        <p class="m-0">Air Force 1 '07</p>
                    </div>
                    <div class="product_img col-md-3">
                        <img src="/img/product/product_img.png" alt="Product 1">
                        <p class="fw-bold m-0">Nike</p>
                        <p class="m-0">Air Force 1 '07</p>
                    </div>
                    <div class="product_img col-md-3">
                        <img src="/img/product/product_img.png" alt="Product 1">
                        <p class="fw-bold m-0">Nike</p>
                        <p class="m-0">Air Force 1 '07</p>
                    </div>
                </div>      
            </div>

        </div>      
    </div>

    <script>
        function manage_info(){
              window.location.href = '/user/manage_info';
        }
        function my_style(){
            window.location.href = '/styles/user/@joeun';
        }
    </script>
    
</body>
</html>