/*
------------ footer css ------------
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.content {
    flex: 1;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}
.footer .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer .left img {
    height: 40px;
    margin-bottom: 10px;
}
.footer .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 0 20px;
}
.footer .links h3 {
    margin-bottom: 10px;
    white-space: nowrap;
}
.footer .links a,
.footer .links button {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    font: inherit;
}
.footer .links .link-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer .right {
    text-align: right;
    white-space: nowrap;
}
.footer .right p {
    margin: 5px 0;
    white-space: nowrap;
}
.social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.social-icons button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.social-icons img {
    height: 20px;
}
@media (max-width: 720px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer .right {
        text-align: center;
        margin-top: 10px;
    }
    .footer .links {
        align-items: center;
        margin: 10px 0;
    }
    .footer .links h3 {
        margin-bottom: 10px;
    }
    .footer .links .link-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/*
------------ footer css ------------
*/

/*
------------ cancel btn css ------------
*/
.cancel {
    position: absolute;
    top: 50px;
    right: 550px;
}
.btn-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-close:hover {
    background-color: #f00; /* 호버 상태일 때의 배경색 */
    color: #fff; /* 호버 상태일 때의 글자색 */
}


/*
------------ cancel btn css ------------
*/

/* -------------------[header]------------------- */
.nav-link {
    font-weight: bold;
}
.nav-link.active {
    font-weight: bolder;
}
.logo img {
    height: 60px; /* 이미지 크기 키움 */
}
.nav-item + .nav-item {
    margin-left: 20px;
}
.secondary-nav .nav-item .nav-link {
    font-size: 0.7rem; /* 글자 크기 줄임 */
    color: gray !important; /* 글자 색상 회색으로 변경 */
}
.secondary-nav .nav-item .nav-link:hover {
    color: black !important;
}

/* -------------------[header]------------------- */
